<!--suppress ALL -->
<div ng-if="!$ctrl.edit">{{$ctrl.value | date:'yyyy/MM/dd'}}</div>
<div ng-if="$ctrl.edit">
    <div class="input-group">
        <button class="form-control">{{$ctrl.value | date:'yyyy/MM/dd'}}</button>
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
    <datetimepicker data-ng-model="$ctrl.value" data-datetimepicker-config="{ minView:'day' }"></datetimepicker>
</div>
